<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cities.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D52C46FD1BCF8C7A00CBBDB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D52C47111BCF8C7A00CBBDB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D52C471C1BCF8C7A00CBBDB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
